# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

# PyCharm
.idea/
# Dropbox
.dropbox.attr

# Temporary
/temporary

# Tests, integrations
test-reports/
.tox/
.coverage
coverge.xml
